= simple_form_for(@hashtag) do |f|
  = f.error_notification

  .form-inputs
    = f.input :discount
    = f.input :discount_code
    = f.input :authorized_email
    = f.input :no_of_referal

  .form-actions
    = f.button :submit, "Generate code"
