%h1 My discount codes

%table.table.table-bordered
  %thead
    %tr
      %th Code
      %th Discount
      %th Authorized email
      %th Permalink url
      %th No of referal
      %th No of referal generated
      %th
      %th
      %th

  %tbody
    - @hashtags.each do |hashtag|
      %tr
        %td= hashtag.discount_code
        %td= hashtag.discount
        %td= hashtag.authorized_email
        %td= hashtag.permalink_url
        %td= hashtag.no_of_referal
        %td= hashtag.referal_codes.count
        %td= link_to 'Show', hashtag
        %td= link_to 'Edit', edit_hashtag_path(hashtag)
        %td= link_to 'Destroy', hashtag, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
