%p#notice= notice

.row
  .col-md-6.col-md-offset-3
    = image_tag @hashtag.user.logo.url, style: 'width: 300px; height: 300px;'
.row
  %b Discount:
  = @hashtag.discount
.row
  %b Discount code:
  = @hashtag.discount_code
.row
  %b Authorized users:
  %ul
    - @hashtag.authorized_emails.each do |usr|
      %li= usr.full_name
.row
  %b No of referals:
  = @hashtag.no_of_referal

= link_to 'Edit', edit_hashtag_path(@hashtag)
\|
= link_to 'Back', hashtags_path
