= simple_form_for(@referal_code) do |f|
  = f.error_notification

  .form-inputs
    = f.input :provider_email
    = f.input :email
    = f.input :discount_code

  .form-actions
    = f.button :submit, "Generate"
