  <li><%= link_to "Generate referal code", new_referal_code_path %></li>
  <li><%= link_to "Verify referal code", verify_referal_codes_path %></li>
  <% if current_user %>
    <li><%= link_to "Add code", new_hashtag_path %></li>
    <li><%= link_to "Edit profile", edit_user_registration_path %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete%></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
  <% end %>
